* {
   font-size: 15px;
   font-family: monospace;
   border: none;
   color: white;
   border-radius: 0;
}

#waybar {
   background: rgba(0, 0, 0, 0.);
}
#tray menu{
   background: rgba(0, 0, 0, 0.8);
}

#workspaces button {
   padding: 0 2px;
}
#workspaces button.focused, #custom-media.focused {
   background-color: #b0b0b0;
   color: white;
}
#workspaces button:hover {
   background: gray;
   color: white;
   box-shadow: inherit;
   text-shadow: inherit;
   transition-duration: 0s;
}

#mode {
   background: red;
}

#clock, #pulseaudio, #backlight, #network, #custom-battery, #custom-pacman, #custom-media, #custom-microphone, #custom-watson, #custom-phue1, #custom-phue2 {
   padding: 0 10px;
}

#memory, #custom-storage.normal, #custom-pacman, #custom-cpu {
   padding: 0 0px;
   font-size: 0px;
}

#custom-storage.warning, #custom-storage.critical, #temperature, #memory.load, #custom-cpu.load, #custom-pacman.pending {
   padding: 0 10px;
   font-size: 15px;
}

#custom-battery.warning:not(.charging) {
   color: orange;
}

#custom-battery.critical:not(.charging) {
   color: red;
}

#custom-watson.stopped {
   color: red;
}

#custom-watson.running {
   color: lime;
}

#custom-workspace1, #custom-workspace2, #custom-workspace3, #custom-workspace4, #custom-workspace5, #custom-workspace6, #custom-workspace7, #custom-workspace8, #custom-workspace9, #custom-workspace10 {
   padding: 0 6px;
   color: white;
}

*.focused {
   background-color: rgba(255,255,255,0.3);
}

*.invisible {
   font-size: 0px;
   padding: 0 0px;
}

#custom-eye_reminder.expired {
    background-color: rgb(255, 0, 0);
}

#custom-eye_reminder.break {
    background-color: rgb(0, 0, 255);
}
